@import "tailwindcss";

@font-face {
  font-family: rf;
  src: url("/fonts/Retro\ Floral.ttf");
}

@font-face {
  font-family: md;
  src: url("/fonts/modernline.otf");
}

@font-face {
  font-family: mdb;
  src: url("/fonts/modernline\ bold.otf");
}

html, body {
  margin: 0;
  padding: 0;
  
}